* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1920px;
  width: 100%;
  padding: 20px 0;
  margin: 0 auto;
  background: #fff5cd;
}

.links a {
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  gap: 50px;
}

.menu {
  display: flex;
}
.links {
  display: flex;
  gap: 50px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

.header button {
  width: 134px;
  height: 42px;
  background: rgb(61, 61, 233);
  border-radius: 20px;
  color: white;
  border: none;
}

/* hero 2 */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1920px;
  width: 100%;

  margin: 0 auto;
  background: #fff5cd;
}
.hero-text h1 {
  width: 570px;
  color: #0f0d1c;
  font-family: Work Sans;
  font-size: 68px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  margin-top: 10px;
}

.hero-text p {
  width: 551px;
  font-size: 18px;
  font-weight: 400;
}
.hero button {
  width: 176px;
  height: 58px;
  border-radius: 15px;
  color: white;
  background: #756bee;
  margin-top: 20px;
  font-size: 18px;
  border: none;
}

/* 2 */

.container2 {
  max-width: 1920px;
  width: 100%;
  height: 800px;
  margin: 0 auto;
  background: white;
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}
.brand h1 {
  color: #000;
  text-align: center;
  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}
.brand-photo {
  display: flex;
  gap: 100px;
}

/* 3 */

.content-girl {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  gap: 50px;
}
.text-girl h1 {
  width: 541px;
  color: #39364e;
  font-family: Outfit;
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
}

.text-girl p {
  width: 478px;
  height: 90px;
  font-size: 18px;
  font-weight: 400;
}

.text-girl button {
  width: 167px;
  padding: 14px 25px;
  background: blue;
  border-radius: 15px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: none;
}
/* 4 */

.company {
  text-align: center;
}

.company h1 {
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
}
.company p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.company-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  gap: 20px;
}

.picture {
  width: 416px;
  height: 392px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  background: #fff;
}
.picture h2 {
  font-size: 26px;
  margin-top: 30px;
}
.picture p {
  width: 329px;
  font-size: 16px;
  margin-top: 30px;
}

.picture2 {
  width: 416px;
  height: 392px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  background: #0b65cc;
}
.picture2 h2 {
  font-size: 26px;
  margin-top: 30px;
  color: white;
}
.picture2 p {
  width: 329px;
  font-size: 16px;
  margin-top: 30px;
  text-align: center;
  color: white;
}

.picture3 {
  width: 416px;
  height: 392px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  background: #fff;
}
.picture3 h2 {
  font-size: 26px;
  margin-top: 30px;
}
.picture3 p {
  width: 329px;
  font-size: 16px;
  margin-top: 30px;
}
/* 5 */

.creative {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.creative-text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.creative-text h1 {
  width: 535px;
  font-size: 55px;
  font-weight: 600;
}

.creative-text p {
  width: 486px;
  font-size: 16px;
  font-weight: 400;
}

/* 6 */

.testimon {
  text-align: center;
  margin-top: 40px;
}
.container4 {
  max-width: 1920px;
  width: 100%;
  padding: 40px 0;
  margin: 0 auto;
  background: #fff5cd;
}
.testimon-block {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.testimon h1 {
  font-size: 42px;

  font-weight: 600;
}

.testimon1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 416px;
  height: 287px;
  border-radius: 10px;
  border: 1px solid rgba(105, 105, 105, 0.1);
  background: #fff;
}

.testimon1 p {
  width: 225px;
  height: 70px;
  font-size: 15px;
}

.testi1 {
  width: 68px;
  height: 68px;
}

.testimon2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 416px;
  height: 287px;
  border-radius: 10px;
  border: 1px solid rgba(105, 105, 105, 0.1);
  background: #fff;
}

.testimon2 p {
  width: 225px;
  height: 70px;
  font-size: 15px;
}

.testi2 {
  width: 68px;
  height: 68px;
}

.testimon3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 416px;
  height: 287px;
  border-radius: 10px;
  border: 1px solid rgba(105, 105, 105, 0.1);
  background: #fff;
}

.testimon3 p {
  width: 225px;
  height: 70px;
  font-size: 15px;
}

.testi3 {
  width: 68px;
  height: 68px;
}

/* 7 */

.container5 {
  max-width: 1920px;
  width: 100%;
  padding: 40px 0;
  margin: 0 auto;
  background: #0929e0;
}

.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.contact-us h1 {
  width: 870px;
  height: 126px;
  font-size: 42px;
  font-weight: 600;
  color: white;
}

.contact-us p {
  color: white;
}

.contact-us button {
  width: 157px;
  padding: 14px 25px;
  border-radius: 5px;
  background: #f8f6f6;
  color: #000;
}
/* footer */
.container6 {
  max-width: 1920px;
  width: 100%;
  padding: 20px 0;
  margin: 0 auto;
  background: #181e36;
}

.footer {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.foot-text {
  display: flex;
  gap: 50px;
  font-size: 16px;
  font-weight: 500;
}
.foot-text a {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.logo-1 {
  color: white;
  font-size: 30px;
}
/* final */

.container7 {
  max-width: 1920px;
  width: 100%;
  padding: 40px 0;
  margin: 0 auto;
  background: #181e36;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  margin-top: 100px;
  font-size: 20px;
}

.about {
  color: white;
}
.Product {
  color: white;
}

.Resources {
  color: white;
}

.Follow-us {
  color: white;
}
.contact-f {
  width: 168.88px;
  font-size: 16px;
  color: white;
}
